body {
  background-color: #f2f2ff;
}

.accordion {
  margin-top: 36px;
  height: calc(100vh - 36px) !important;
  height: calc(100svh - 36px) !important;
}

.bg-slight {
  background: #f2f2f2 !important;
}

.accordion-body {
  background: #f2f2f2;
  height: calc(100vh - 196px) !important;
}

.cpoint {
  cursor: pointer;
}

.only-if-multiple-pages,
.d-flex.only-if-multiple-pages {
  display: none !important;
}

.only-if-multiple-pages.multiple {
  display: block !important;
}

.cmw5h {
  margin: 0 auto;
  max-width: 350px;
}

.scrollable {
  overflow-y: auto;
}
.btn-xs-icon{
  padding-top: 0px !important;
  line-height: 19px !important;
}
#flush-collapseTwo .accordion-body{
  position:relative;
}
#tabHint{
  position: absolute;
  display:block;
  height:15px;
  font-size:13px;
  line-height:15px;
  opacity: 0.8;
  bottom: 0;
  left: 60px;
  width: calc(100% - 80px);
  z-index: 99;
}
#chatscreen {
  min-height: 100%;
}

.chatscroll {
  border: 1px solid #aaa;
}

.list-group-sm .list-group-item {
  font-size: 0.75rem;
  padding: 0.25rem 0.75rem;
}


.accordion-button {
  background-color: #ddd !important;
  font-weight: bold;
  border-top: 2px solid #aaa !important;
}

.highlight{
  position:relative;
  outline: 8px solid rgba(107, 224, 107, 0.521);
}
.highlight * {pointer-events: none;}
.highlight::after{
  content:'Dropping files here will add them to your media library';
  display:block;
  font-size: 18px;
  font-weight: 500;
  color:#3c5d3c;
  position: absolute;
  top: 50%;
  left:50%;
  margin-top:-80px;
  margin-left:-100px;
  width: 200px;
  text-align: center;
  z-index: 150;
  padding: 18px;
  background:rgb(202, 220, 202);
}

.setCustomChatroom {
  text-decoration: none !important;
  color: #999 !important;
  cursor: pointer;
}

#emojipickerdiv{
  position:fixed;bottom:0;left:50%;margin-left:-200px;background: black;
}
.setCustomChatroom:hover {
  color: #666 !important;
}

h2 small {
  font-size: 13px;
}

#editPagesButton {
  position: relative;
  z-index: 5;
}

#messageAppSelector{
  border: 1px solid #aaa;
  border-left: none;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  font-size: 13px;
  width: 104px;
}

.message-input {
  border: 1px solid #aaa;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 14px;
  padding: 4px 12px;
  width: 100%;
  box-sizing: border-box;
}
.edit-key{
    margin-top: 4px;
}
.variablesContainer hr {
    margin: 0px 0px 8px 0px;
    opacity: 0.15;
}
span.fake-input {
    display: block;
    border: 1px solid #aaa;
    border-radius: 13px;
    padding: 4px 2px 4px 5px;
    background: #fff;
    width: auto;
    margin-right: 35px;
    line-height: 17.6px;
}
.text-small{
  font-size: 13px;
}
.text-tiny{
  font-size:12px;
  opacity: 0.7;
  margin-top:-5px;
  margin-left:12px;
  margin-bottom:12px;
}
.text-miny{
  font-size: 11px;
}
.fake-message{
    color: white;
    margin-right: 32px;
    margin-left: 4px;
    background: #0085d1;
    position: relative;
    margin-bottom: 8px;
    z-index: 2;
    border-radius: 20px;
    padding: 4px 8px;
    margin-top: 0px;
    display: block;
    font-size: small;
}
.fake-message:before {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: -8px;
    height: 13px;
    width: 20px;
    background: #0085d1;
    border-bottom-left-radius: 15px;
}
.edit-val, .edit-key{
  display:inline-block;
  cursor:pointer;
}
.delete-val{
  height:26px !important;
}
.edit-val{
  position:absolute;
  top:0;
  right:12px;
  height: 24px;
  z-index:3;
  width:18px !important;
  overflow: hidden;
}
.message span.variable{
  font-weight: bold;
  color: #052c65;
}

.message-text{
  display:inline-block;
}
.message-text[contenteditable="true"]{
  outline:1px solid black;
}
.message-text span.variable{
  position:relative;
  display:inline-block;
}
.message-text span.variable .info{
  position: absolute;
  bottom: -15px;
  font-size: 11px;
  opacity: 0.75;
  background: #052c65;
  height: 15px;
  line-height: 15px;
  border-radius: 3px;
  color: white !important;
  display:none;
  padding:0 4px;
  white-space: nowrap;
}
.message-text span.variable:focus .info, .message-text span.variable:hover .info{
  display:inline-block;
}
.left .message-text span.variable .info{
  left: 0;
}
.right .message-text span.variable .info{
  right: 0;
}
.message span.variable.unknown{
  font-weight: bold;
  color: #66052f;
}
.message-text span.variable:not(.unknown){
  cursor:pointer;
}
.fake-message:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: -10px;
    width: 10px;
    height: 13px;
    background: #f2f2f2 !important;
    border-bottom-left-radius: 10px;
}
.border-ycircle {
  border-top-left-radius: 50px !important;
  border-bottom-left-radius: 50px !important;
}

#importCodeModalTextarea {
  height: 60vh;
}

#character,
#chatroom {
  font-size: 12px;
  padding-right: 30px !important;
}

textarea.small {
  font-size: 0.8rem !important;
}
.chatroom-header {
  font-weight: 500;
  background: #f5f5f5;
  padding: 42px 4px 2px 4px;
  margin-top: 8px;
  font-size: 12px;
  text-align: center;
  border-bottom: 1px solid #e9e9e9;
  vertical-align: middle;
  z-index: 4 !important;
}
.app-header {
  font-weight: 500;
  background: #dac27a;
  padding: 6px 4px 2px 4px;
  margin-top: 8px;
  font-size: 12px;
  text-align: center;
  border-bottom: 1px solid #c4a64d;
  vertical-align: middle;
  z-index: 4 !important;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.messages.group-end{
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.messages.app{
  padding-top: 8px;
  margin-top: -4px;
  background-color: #f3db94;
}
.author.app{
  padding-top: 8px;
  margin-top: -4px;
  padding-bottom:8px;
  font-size : 12px;
  text-align: center;
  background-color: #f3db94;
}
.app-header::before {
  content: "App:";
  font-weight: 400 !important;
  opacity: 0.85;
  font-size: 11px;
  margin-right: 8px;
  display: inline-block;
  margin-left: -60px;
  width: 52px;
}
.location-header {
  font-weight: 500;
  background: #7ad0da;
  padding: 6px 4px 2px 4px;
  margin-top: 8px;
  font-size: 12px;
  text-align: center;
  border-bottom: 1px solid #50c0ca;
  vertical-align: middle;
  z-index: 4 !important;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.messages.location{
  padding-top: 8px;
  margin-top: -4px;
  background-color: #94e8f3;
}
.location-header::before {
  content: "Location:";
  font-weight: 400 !important;
  opacity: 0.85;
  font-size: 11px;
  margin-right: 8px;
  display: inline-block;
  margin-left: -60px;
  width: 52px;
}
.chatroom-header::after {
  content: '';
  background: #dddddd;
  width: 36px;
  height: 36px;
  position: absolute;
  top: 3px;
  left: 50%;
  margin-left: -18px;
  border-radius: 50%;
  border: 1px solid #c8c8c8;
}
.chatroom-header::before {
  content: "Chatroom:";
  font-weight: 400 !important;
  opacity: 0.85;
  font-size: 11px;
  margin-right: 8px;
  display: inline-block;
  margin-left: -60px;
  width: 52px;
}
.col-width-80-percent {
  width: 80vw;
}

.chat {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.messages {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
}

.message {
  position: relative;
  z-index: 2;
  border-radius: 20px;
  padding: 4px 8px;
  margin-top: 0px;
  margin-bottom: 0px;
  display: inline-block;
  font-size: small;
}

.chatroom-actions-menu{
  position:absolute;
  top:16px;right:12px;
}
.messages span.author {
  position: absolute;
  top: -17px;
  font-size: 11px;
  font-weight: 500;
  opacity: 0.7;
  color: #212529;
  white-space: nowrap;
}

.messages.left span.author {
  left: 9px;
}

.messages.right span.author {
  right: 9px;
}

.withAuthor {
  margin-top: 16px;
}

.message:has(img) {
  border-radius: 10px;
  padding: 2px 2px;
}

.message img {
  max-width: 120px;
  max-height: 150px;
  margin: 4px;
  border-radius: 6px;
}
.message .video-container { position: relative; }
.message .video-container span {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: calc(100% - 8px);
  text-align: center;
  margin-top: -15px;
  color: white;
  margin-left: 4px;
  background: rgba(0,0,0,0.5);
  padding: 0px;
}
.message .delete {
  cursor: pointer;
  position: absolute;
  display: none;
  width: 27px;
  height: 27px;
  line-height: 27px;
  text-align: center;
  color: black;
  opacity: 0.8;
}
.message .edit {
  cursor: pointer;
  position: absolute;
  display: none;
  width: 27px;
  height: 27px;
  line-height: 27px;
  text-align: center;
  color: black;
  opacity: 0.8;
}

.message .to-left, .message .to-right, .message .to-up, .message .to-down {
  cursor: pointer;
  position: absolute;
  display: none;
  width: 27px;
  height: 27px;
  line-height: 27px;
  text-align: center;
  color: black;
  opacity: 0.8;
}
.message .to-up{
  color: #f7865b;
}
.message .to-down{
  color:#9293ff;
}

.messages:focus .message .delete,
.messages:hover .message .delete,
.messages:focus .message .edit,
.messages:hover .message .edit,
.messages:focus .message .to-right,
.messages:hover .message .to-right,
.messages:focus .message .to-up,
.messages:hover .message .to-up,
.messages:focus .message .to-down,
.messages:hover .message .to-down,
.messages:focus .message .to-left,
.messages:hover .message .to-left {
  display: block;
}
.messages.left .message .delete {
  top: 0;
  right: -24px;
}
.messages.left .message .edit {
  top: 0;
  right: -48px;
}
.messages.left .message .to-right {
  top: 0;
  right: -72px;
}
.messages.left .message .to-up {
  top: 0;
  right: -120px;
}
.messages.left .message .to-down {
  top: 0;
  right: -96px;
}
.messages.left .message .to-left, .messages.middle .message .to-left {
  display:none;
}


.messages.right .message .delete {
  top: 0;
  left: -24px;
}
.messages.right .message .edit {
  top: 0;
  left: -48px;
}
.messages.right .message .to-left {
  top: 0;
  left: -72px;
}
.messages.right .message .to-up {
  top: 0;
  left: -96px;
}
.messages.right .message .to-down {
  top: 0;
  left: -120px;
}
.messages.right .message .to-right, .messages.middle .message .to-right {
  display:none;
}



.messages.middle .message .delete {
  left: 50%;
  margin-left: -13px;
  bottom: -15px;
  border: 1px solid #ccc;
  border-top: 0;
}

.messages.middle .message .to-down {
  left: 50%;
  margin-left: -37px;
  bottom: -15px;
  border: 1px solid #ccc;
  border-top: 0;
}

.messages.middle .message .to-up {
  left: 50%;
  margin-left: -61px;
  bottom: -15px;
  border: 1px solid #ccc;
  border-top: 0;
}

.messages.middle .message .edit {
  left: 50%;
  margin-left: 11px;
  bottom: -15px;
  border: 1px solid #ccc;
  border-top: 0;
}

.messages.middle .message .delete:hover,
.messages.middle .message .to-down:hover,
.messages.middle .message .to-up:hover,
.messages.middle .message .edit:hover {
  bottom:-17px;
}

.message .delete:before,
.message .edit:before,
.message .to-right::before,
.message .to-left::before,
.message .to-up::before,
.message .to-down::before,
.message .delete::before {
  content: "";
  width: 27px;
  height: 27px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 14px 14px;
  background-position: center center;
}
.message .delete::before {
  background-image: url('/icons/close.png');
}
.message .edit::before {
  background-image: url('/icons/pen.png');
}
.message .edit:hover {
  opacity: 1;
}
.message .delete:hover {
  opacity: 1;
}

.message .to-right::before {
  background-image: url('/icons/right.png');
}
.message .to-up::before {
  background-image: url('/icons/up.png');
}
.message .to-down::before {
  background-image: url('/icons/down.png');
}
.message .to-left::before {
  background-image: url('/icons/left.png');
}

.messages.middle .to-up, .messages.middle .to-down, .messages.middle .delete, .messages.middle .edit{
  background-color: white;
  margin-bottom:-8px;
}

.message .to-right:hover,.message .to-left:hover,.message .to-up:hover,.message .to-down:hover {
  opacity: 1 !important;
}
.message {
  margin-bottom: 8px;
}
.left {
  align-items: flex-start;
}

.middle {
  align-items: center;
}

.middle .message {
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  font-weight: 500;
  opacity: 0.6;
  position: relative;
  text-align: center;
}

.left .message {
  margin-left: 8px;
  margin-right: 120px;
  background-color: #eee;
  position: relative;
}


.left .message.last:before {
  position: relative;
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: -7px;
  height: 13px;
  width: 20px;
  background: #eee;
  border-bottom-right-radius: 15px;
}

.left .message.cleaned, .left .message.cleaned.last:before{
  background-color: #cfa465;
}
.left .message.last:after {
  position: relative;
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: -10px;
  width: 10px;
  height: 13px;
  background: white;
  border-bottom-right-radius: 10px;
}

.messages.app.left .message.last:after {
  background-color: #f3db94;
}
.messages.app.left .message, .messages.location.left .message{
  margin-left:10px;
}
.messages.location.left .message.last:after {
  background-color: #94e8f3;
}

.right {
  align-items: flex-end;
}

.right .message {
  color: white;
  margin-right: 8px;
  margin-left: 120px;
  background: #0085d1;
  position: relative;
}

cursor {
  cursor: pointer;
  opacity: 0;
  position: relative;
  top:-6px;
  height: 2px;
  background: grey;
  width: 100%;
  z-index: 8;
  transition: opacity 0.1s ease;
}

cursor:hover,
.messages:focus + cursor:not(.active) {
  transition: none;
  cursor: pointer;
  opacity: 0.7;
}

cursor::after {
  content: "add messages here ?";
  font-size: 11px;
  font-weight: bold;
  color: white;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -60px;
  width: 120px;
  text-align: center;
  background-color: grey;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

cursor.active {
  opacity: 1;
  background: orangered;
  margin-bottom: 8px;
}

cursor.active::after {
  content: "new messages position     ✕" !important;
  width: 160px;
  margin-left: -80px;
  background-color: orangered;
}

.right .message.last:before {
  position: relative;
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 0;
  right: -8px;
  height: 13px;
  width: 20px;
  background: #0085d1;
  border-bottom-left-radius: 15px;
}

.right .message.cleaned, .right .message.cleaned.last:before{
  background-color: #ff9800;
}
.right .message.last:after {
  position: relative;
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: -10px;
  width: 10px;
  height: 13px;
  background: white;
  border-bottom-left-radius: 10px;
}

.messages.app.right .message.last:after {
  background-color: #f3db94;
}
.messages.app.right .message, .messages.location.left .message{
  margin-right:10px;
}
.messages.location.right .message.last:after {
  background-color: #94e8f3;
}

.emoji-picker-opener{
  display: inline-block;
  padding:2px 3px;
  border-radius:50%;
  background: grey;
  position: absolute;
  bottom: -24px;
  right: 8px;
  cursor:pointer;
}

.arrowstart,
.arrowend {
  position: relative;
  width: 100%;
  margin: 11px 4px 10px 0;
  height: 1px;
  background-color: black;
  vertical-align: middle;
}

.arrowstart::after,
.arrowend::after {
  position: absolute;
  top: -4px;
  right: -4px;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 10px;
  border-color: transparent transparent transparent #000000;
}

.arrow-middle-text {
  height: 22px;
  vertical-align: middle;
  line-height: 22px;
  font-size: 13px;
  padding: 0 12px;
}

.arrow-end-text {
  height: 22px;
  vertical-align: middle;
  line-height: 22px;
  font-size: 13px;
  padding: 0 0 0 8px;
}

.btn-group-xs > .btn,
.btn-xs {
  padding: 1px 5px !important;
  font-size: 12px !important;
  line-height: 1.5 !important;
  border-radius: 3px !important;
}

.btn-xs-tx {
  padding: 1px 5px !important;
  font-size: 12px !important;
  line-height: 1.5 !important;
}

.arrow-start-text {
  flex-grow: 0;
  flex-shrink: 1;
  height: 22px;
  line-height: 20px;
  vertical-align: top;
}

#pageOptionsModal .btn-group .btn {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

#pagedirect,
#pagemultiple {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  padding: 8px;
}

#page-options-lister .badge {
  cursor: pointer;
}

.wslc {
  width: 100px !important;
}

#pagedirect {
  border: 1px solid #0d6efd;
  border-top: 6px solid #0d6efd;
  background-color: rgba(13, 49, 253, 0.2);
}

#pagemultiple {
  border: 1px solid #198754;
  border-top: 6px solid #198754;
  background-color: rgba(25, 135, 41, 0.2);
}

@media screen and (max-width: 575px) and (max-height: 700px) {
  .accordion-button {
    padding: 12px !important;
  }
}

@media screen and (min-width: 576px) {
  .accordion-button {
    text-align: right;
  }

  .accordion-button span {
    flex-grow: 1;
    text-align: right;
    padding-right: 18px;
  }

  .accordion-button::after {
    flex-grow: 0;
  }

  .accordion {
    margin-top: 0px;
    height: 100vw !important;
    width: calc(100vh - 36px);
    position: fixed;
    top: calc(100vh);
    left: 0;
    transform: rotate(-90deg);
    transform-origin: left top;
    -webkit-transform: rotate(-90deg);
    -webkit-backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    transition: none !important;
    backface-visibility: hidden;
    will-change: transform;
    -webkit-font-smoothing: subpixel-antialiased;
  }
  .sticky-top{
    top:-1px !important;
  }
  .accordion-collapse.show {
    height: calc(100vw - 160px) !important;
  }

  .col-width-80-percent {
    width: calc(80vw - 160px);
  }

  .accordion-body {
    position: relative;
    transform-origin: left top;
    transform: rotate(90deg);
    right: calc(-100vh + 36px);
    height: calc(100vh - 36px) !important;
    width: calc(100vw - 160px);
    -webkit-backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    backface-visibility: hidden;
    will-change: transform;
    -webkit-font-smoothing: subpixel-antialiased;
    transition: none !important;
  }

  .form-text,
  .btn {
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    backface-visibility: hidden;
    will-change: transform;
    -webkit-font-smoothing: subpixel-antialiased;
    transition: none !important;
  }
}

@media screen and (min-width: 992px) {
  .collapse:not(.show):not(.good) {
    display: block !important;
  }

  .accordion-collapse,
  .accordion-collapse.show {
    height: calc(39vw - 54px) !important;
    transition: height 0.2s ease;
  }
  .accordion-body {
    width: calc(39vw - 54px);
    transition: width 0.2s ease;
  }

  .col-width-80-percent {
    width: calc(32vw - 54px);
  }

  .accordion-button::after {
    display: none;
  }

  body:not(.multiple) .accordion-item .accordion-collapse,
  body:not(.multiple) .accordion-item .accordion-collapse.show {
    height: calc(48vw - 54px) !important;
  }

  body:not(.multiple) .accordion-item .accordion-body {
    width: calc(48vw - 54px);
  }

  .accordion-item:last-child .accordion-collapse,
  .accordion-item:last-child .accordion-collapse.show {
    height: calc(22vw - 54px) !important;
  }

  .accordion-item:last-child .accordion-body {
    width: calc(22vw - 54px) !important;
  }

  body:not(.multiple) .accordion-item:first-child .accordion-collapse,
  body:not(.multiple) .accordion-item:first-child .accordion-collapse.show {
    height: calc(30vw - 54px) !important;
  }

  body:not(.multiple) .accordion-item:first-child .accordion-body {
    width: calc(30vw - 54px);
  }
}

.dropzone {
  border: 2px dashed #72D3DA;
  background-color: #D9F0F2;
  color: #499A9E;
  min-height: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dropzone h1 {
  font-size: 20px;
  font-weight: 500;
}

.dropzone p {
  font-size: 14px;
  font-weight: 500;

}

.dropzone p.text-success {
  color: #28a745;
  font-size:18px;
}

#screenshotInput {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.quick-emoji-picker {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 4px;
    margin-top: 4px;
}
.quick-emoji-picker span {
    display: inline-block;
    min-width: 40px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    background: #d8dde4;
    font-size: 18px;
    flex: 1;
    flex-shrink: 0 !important;
    border-radius: 4px;
    cursor:pointer;
}
.quick-emoji-picker span:hover{
    cursor:pointer;
}
.noselect, .noselect * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.left.messages+cursor+.left.messages {
    margin-top: -8px;
}
.right.messages+cursor+.right.messages {
    margin-top: -8px !important;
}
.flex-grow-2 {flex-grow:2 !important;}
.flex-grow-3 {flex-grow:3 !important;}
.flex-grow-4 {flex-grow:4 !important;}
.messages.thought .message {
  font-style: italic;
}
.messages.thought .message span.author::after {
content:" (thinking)";
}
.messages.thought .message-text{
  opacity: 0.7;
}
@media screen and (min-width: 610px) and (max-width: 640px) {

  #chatscroll {
    padding: 0 67px;
  }
  .message-text {
    display: inline-block;
    max-width: 182px;
    font-size:12px;
    line-height: 15px;
  }
  .message {
    padding: 3px 8px;
    border-radius:11px;
  }

  .right .message.last:not(.cleaned):before, .right .message:not(.cleaned) {
    background: #3982f5;
  }


}
.selectable-media:hover {
  border-color: #007bff !important;
  box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.25);
}
.current-background-display img {
  border: 1px solid #ddd;
  border-radius: 4px;
  vertical-align: middle;
}
/* Ensure modal content is scrollable if it gets too long */
#appLocationModal .modal-body, #mediaPickerModal .modal-body {
  max-height: 70vh; /* Adjust as needed */
  overflow-y: auto;
}
#alertToastModal .modal-content{
  box-shadow: 0px 0px 80px 40px rgba(0,0,0,0.6) !important;
}